/Web Client/dist/
/DesktopClient/nbproject/private/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/Exercitiu1/nbproject/private/
/Exercitiu1/build/
/DesktopClient/build/
/DesktopClient/dist/
/TicTacToeDesktopClient/nbproject/
/TicTacToeDesktopClient/target/